@import '../../../styles/settings.scss';

.main {
  font-size: 16px;
  line-height: 16px;
  padding: 10px 30px;
}

.amount {
  font-size: 45px;
  line-height: 45px;
  height: 80px;
  width: 80px;
  font-weight: 600;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  border-radius: 50%;
  
  &:hover {
    background-color: #fffacd;
  }
}

