@import "normalize.scss";

*, *::before, *::after {
  box-sizing: border-box;

}
body {
  margin: 0;
  padding: 0;
  background: $color-light;
  letter-spacing: 0.5px;

  h1,h2,h3,h4 {
    margin: 0;
  }
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
