@import '../../../styles/settings.scss';

.flexboxParent {
  display: flex;
  padding: 10px 50px;
}

.logo {
  
  i {
    font-size: 50px;
    height: 60px;
    width: 60px;
    border-radius: 25%;
  }
  
  h4 {
    margin-top: 0
  }
}